log:
  format: text # pretty, text, json
  level: debug # debug, info, warn, error
  add-source: true

web:
  port: 8080
  show-banner: true
  show-openapi-docs: true

database:
  use-in-memory: false
  postgres:
    host: localhost
    port: 5432
    user: user
    password: password
    database: database_name

auth:
  cookies:
    oidc-state:
      name: OIDC_STATE
      ttl: 5m
    user:
      name: USER
      ttl: 720h

  jwt:
    active-key-pair-name: '<key-pair-name>'
    key-pairs:
      - name: '<key-pair-name>'
        private: |
          <private_key_content>
        public: |
          <public_key_content>

  google:
    client-id: <your-google-client-id>
    client-secret: <your-google-client-secret>
    callback-path: /api/v1/auth/google/sign-in/callback

crypt:
  aes:
    key: <random-length-complex-string>
