log:
  format: json # pretty, text, json
  level: info # debug, info, warn, error
  add-source: false
  component: imageer-processor

web:
  port: 9090

valkey:
  addresses: localhost:15410
  username: admin
  password: complex_password

  streams:
    image-process-request:
      stream-key: imageer:local:image-process-request-stream
      group-name: processor
      handler:
        concurrency: 8
        timeout: 30s
      reader:
        batch-size: 10
        block-timeout: 30s
      stealer:
        interval: 30s
        min-idle-time: 1m
        max-delivery-attempt: 3
      reaper:
        min-idle-time: 1h
    image-process-result:
      stream-key: imageer:local:image-process-result-stream
      stream-size: 1000

aws:
  s3:
    bucket: imageer
